<nav>
    <div class="nav-desktop">
        <a href="/" class="logo">
            <img src="/images/icons/Logo.png" />
        </a>
        <div class="nav-links-wrapper">
            <div class="nav-link">
                <a href="/">Home</a>
            </div>
            <div class="nav-link">
                <a href="/projects">Projects</a>
            </div>
            <div class="nav-link">
                <a href="/blogs">Blog</a>
            </div>
            <div class="nav-link">
                <a href="mailto:info@sparc.coop?subject=Contact Inquiry">Contact</a>
            </div>
        </div>
        <div class="community-join">
            <div class="@ToggleContact">
                <input @bind="@EmailAddress" placeholder="Your Email"/>
                <button @onclick="SendEmail">Join Now</button>
            </div>
            @if(ToggleContact != "toggle-show")
            {
                <button @onclick="@Toggle" class="join">Join Community</button>   
            }
        </div>
    </div>
    <label for="menuToggle" class="menu-toggle">
        @if(ToggleMenuClass == "hide-menu")
        {
            <i class="material-icons" @onclick="ToggleMenu">menu</i>
        } else
        {
            <i class="material-icons" @onclick="ToggleMenu">close</i>
        }
    </label>
    <div class="nav-mobile">
        <a href="/" class="logo">
            <img src="/images/icons/Logo.png" />
        </a>
        <div class="@ToggleMenuClass">
            <ul class="menu">
                <li class="nav-link" @onclick="ToggleMenu">
                    <a href="/">Home</a>
                </li>
                <li class="nav-link" @onclick="ToggleMenu">
                    <a href="/blogs">Blogs</a>
                </li>
                <li class="nav-link" @onclick="ToggleMenu">
                    <a href="/projects">Projects</a>
                </li>
                <li class="nav-link">
                    <a href="mailto:info@sparc.coop?subject=Contact Inquiry">Contact</a>
                </li>
            </ul>
            <div class="community-join">
                <div class="@ToggleContact">
                    <input @bind="@EmailAddress" placeholder="Your Email" />
                    <button @onclick="SendEmail">Join Now</button>
                </div>
                @if (ToggleContact != "toggle-show")
                {
                    <button @onclick="@Toggle" class="join">Join Community</button>
                }
            </div>
        </div>
    </div>
</nav>

@code {
    public string ToggleContact = "toggle";
    public string ToggleMenuClass = "";
    public string? EmailAddress;

    async Task SendEmail()
    {
        if (EmailAddress != null)
        {
            await RegisterForCommunity.ExecuteAsync(new(EmailAddress));
        }
        
        ToggleContact = "toggle";
    }

    void Toggle()
    {
        if (ToggleContact == "toggle")
        {
            ToggleContact = "toggle-show";
        }
        else
        {
            ToggleContact = "toggle";
        }
    }

    void ToggleMenu()
    {
        if (ToggleMenuClass == "")
        {
            ToggleMenuClass = "hide-menu";
        }
        else
        {
            ToggleMenuClass = "";
        }
    }

}