@page "/Projects/{Title}/{ChannelId}"

<div class="project-page">
    <section class="hero-header">
        <div class="container">
            <div class="header">
                <div class="title">
                    <h2 class="title-1 semi-bold">@Ibis["title"]</h2>
                    <a href="@Ibis["url"]" target="_blank" title="Visit Website">
                        <p class="title-2 mobile">Visit Website</p>
                        <i class="material-icons">launch</i>
                    </a>
                </div>
                <div>
                    <p class="subtitle-1">@Ibis["sub-header"]</p>
                </div>
@*                <div class="cta-flex">
                    <div class="profile-pics-wrapper">
                        <div class="profile-pic">
                            <img src="images/Picture.png" />
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>

    <section class="timeline">
        <div class="container">
            <div class="header">
                <p class="subtitle-small">Recent Timeline</p>
            </div>
            <div class="wrapper">
                <div class="timeline-sidebar">
                    <img src="./images/Sidebar.png" class="desktop"/>
                    <img src="./images/Sidebar mobile.png" class="mobile" />
                </div>
                <div class="timeline-list">
                    @if (Channel != null)
                    {
                        @foreach (var post in Channel.Content)
                        {
                            <div class="timeline-item">
                                <div class="item-header">
@*                                    <p class="title-2 semi-bold">[Title]</p>*@
                                    <p class="timeline-date subtitle-small">@post.Timestamp.ToString("M")</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="subtitle-small">@post</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
@*            <div class="read-more">
                <button class="btn-small">Read More</button>
            </div>*@
        </div>
    </section>
    <CommunityCta/>
@*    <section class="resources">
        <div class="container">
            <div class="header">
                <h3 class="subtitle-large semi-bold">Related Blogs</h3>
                <p class="subtitle-small"></p>
            </div>
            <div class="blog-wrapper">
                <div class="blog-card">
                    <div class="blog-image">
                        <img src="./images/Frame 359 Group 48.png" />
                    </div>
                    <div class="blog-tags">
                        <button class="tag btn-small">Design</button>
                    </div>
                    <div>
                        <p class="subtitle-large">
                            2022 Trending Web design
                        </p>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-image">
                        <img src="./images/Frame 360 Group 48.png" />
                    </div>
                    <div class="blog-tags">
                        <button class="tag btn-small">Coding</button>
                        <span class="tag-divider"> | </span> 
                        <button class="tag btn-small category">Tips & Tricks</button>
                    </div>
                    <div>
                        <p class="subtitle-large">
                            How to tackle HTML/CSS as a beginner (All you need to know is in here!)
                        </p>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-image">
                        <img src="./images/Frame 361 Group 48.png" />
                    </div>
                    <div class="blog-tags">
                        <button class="tag btn-small">Design</button>
                    </div>
                    <div>
                        <p class="subtitle-large">
                            Design system 101: We will answer all your questions
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
</div>

@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public string Link { get; set; } = null!;
    [Parameter] public string ChannelId { get; set; } = null!;
    IbisChannel? Channel; 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if (firstRender)
            //await Ibis.TranslatePageAsync(ChannelId);
    }

    protected override async Task OnInitializedAsync()
    {
        await Ibis.TranslatePageAsync(ChannelId);
        Channel = await Ibis.GetAllAsync(Title);
    }
}