@page "/blog/{slug}"

<article class="blog-post">
    <header>
        @if (!string.IsNullOrEmpty(K.Templates["Blog"].Fields["title"].Value))
        {
            <h3>@K.Templates["Blog"].Fields["title"].Value</h3>
        }
        else
        {
            <h3 class="placeholder">title</h3>
        }

        @if (!string.IsNullOrEmpty(K.Templates["Blog"].Fields["author"].Value))
        {
            <aside>by @K.Templates["Blog"].Fields["author"].Value</aside>
        }

        <time datetime="@(DateTime.Now.ToString("O"))">
            @DateTime.Now.ToString("M")
        </time>
    </header>

    <figure>
        @if (!string.IsNullOrEmpty(K.Templates["Blog"].Fields["image"].Value))
        {
            <img src="@K.Templates["Blog"].Fields["image"].Value" alt="@K.Templates["Blog"].Fields["title"].Value" />
        }
    </figure>

    <section class="content">
        @K.Templates["Blog"].Fields["content"].Value
    </section>
</article>

@code {
    [Parameter] public string? Slug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Slug != null)
        {
            await K.InitializeAsync(this, Nav.Uri, "elementId");
        }
    }
}
