<div class="modal idea-card-full">
    <header>
        <img src="images/user-stock.png" />
        <div>
            <h3>@Idea.Author</h3>
            <p>@Idea.DateCreated.ToShortDateString()</p>
        </div>
    </header>
    <section>
        <h2>@Idea.Title</h2>
        <div class="files">
            <div class="images">
                @if (Idea.Files.Count < 1)
                {
                    <img src="images/Rectangle 13.png" />
                }
                else
                {
                    @foreach (var file in Idea.Files)
                    {
                        <img src="@file.FilePath" class="@(currentFile == file ? "active" : "")" />
                    }
                }
            </div>
            @if (Idea.Files.Count > 1)
            {
                <div class="arrows">
                    <button class="arrow-left" @onclick=previousFile><ArrowLeftIcon /></button>
                    <button class="arrow-right" @onclick=nextFile><ArrowLeftIcon /></button>
                </div>
                <div class="indicators">
                    @foreach (var file in Idea.Files)
                    {
                        <div class="indicator @(currentFile == file ? "active" : "")"></div>
                    }
                </div>
            }
        </div>
        <div>
            <p>@Idea.Description</p>
        </div>
    </section>
    <footer>
        <div>
            <button class="tertiary-btn"><ChatBubbleIcon /> <span>@comments.Count</span></button>
            <button class="tertiary-btn"><ThumbsUpIcon /> <span>@likes.Count</span></button>
        </div>
        <button class="tertiary-btn"><FileIcon /> <span>@Idea.Files.Count</span></button>
    </footer>
</div>

<div class="modal-overlay"></div>

@code {
    [Parameter, EditorRequired] public ProjectIdea Idea { get; set; }

    List<string> comments = new List<string>();
    List<string> likes = new List<string>();

    Sparc2.Files.FileUpload currentFile;

    protected override void OnInitialized()
    {
        currentFile = Idea.Files.First(x => x != null);
    }

    void nextFile()
    {
        if (Idea.Files.IndexOf(currentFile) == Idea.Files.Count - 1)
        {
            return;
        }
        else
        {
            currentFile = Idea.Files[Idea.Files.IndexOf(currentFile) + 1];
        }
    }

    void previousFile()
    {
        if (Idea.Files.IndexOf(currentFile) == 0)
        {
            return;
        }
        else
        {
            currentFile = Idea.Files[Idea.Files.IndexOf(currentFile) - 1];

        }
    }
}