<div class="modal idea-card-full">
    <header>
        <img src="images/user-stock.png" />
        <div>
            <h3>@Idea.Author</h3>
            <p>@Idea.DateCreated.ToShortDateString()</p>
        </div>
    </header>
    <section>
        <h2>@Idea.Title</h2>
        <div class="files">
            <div class="images">
                @if (Idea.FileUrls.Count < 1)
                {
                    <img src="images/Rectangle 13.png" />
                }
                else
                {
                    @foreach (var fileUrl in Idea.FileUrls)
                    {
                        <img src="@fileUrl" class="@(currentFile == fileUrl ? "active" : "")" />
                    }
                }
            </div>
            @if (Idea.FileUrls.Count > 1)
            {
                <div class="arrows">
                    <button class="arrow-left" @onclick=previousFile><ArrowLeftIcon /></button>
                    <button class="arrow-right" @onclick=nextFile><ArrowLeftIcon /></button>
                </div>
                <div class="indicators">
                    @foreach (var file in Idea.FileUrls)
                    {
                        <div class="indicator @(currentFile == file ? "active" : "")"></div>
                    }
                </div>
            }
        </div>
        <div>
            <p>@Idea.Description</p>
        </div>
    </section>
    <footer>
        <div>
            <button class="tertiary-btn"><ChatBubbleIcon /> <span>@comments.Count</span></button>
            <button class="tertiary-btn"><ThumbsUpIcon /> <span>@likes.Count</span></button>
        </div>
        <button class="tertiary-btn"><FileIcon /> <span>@(Idea.FileUrls?.Count ?? 0)</span></button>
    </footer>
</div>

<div class="modal-overlay" @onclick="CloseModal"></div>

@code {
    [Parameter, EditorRequired] public ProjectIdea Idea { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    List<string> comments = new List<string>();
    List<string> likes = new List<string>();

    string currentFile;

    protected override void OnInitialized()
    {
        if (Idea.FileUrls.Count > 0)
        {
            currentFile = Idea.FileUrls?.FirstOrDefault() ?? "";
            StateHasChanged();
        }
    }

    void nextFile()
    {
        if (Idea.FileUrls.IndexOf(currentFile) == Idea.FileUrls.Count - 1)
        {
            return;
        }
        else
        {
            currentFile = Idea.FileUrls[Idea.FileUrls.IndexOf(currentFile) + 1];
        }
    }

    void previousFile()
    {
        if (Idea.FileUrls.IndexOf(currentFile) == 0)
        {
            return;
        }
        else
        {
            currentFile = Idea.FileUrls[Idea.FileUrls.IndexOf(currentFile) - 1];
        }
    }

    void CloseModal()
    {
        OnClose.InvokeAsync(true);
    }
}