@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using System.Net.Http.Json
@using Microsoft.EntityFrameworkCore
@using Sparc.Blossom.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using System.Text.RegularExpressions

<style class="kori-ignore">
    @@import url(https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap);
    @@import url(https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap);
</style>

<div class="kori-login kori-ignore" @onclick:stopPropagation="true">
    <AuthorizeView>
        <Authorized>
            <button class="kori-login__toggle  @(ShowMenu ? "" : "show") @(context.User.IsAnonymous() ? "loggedout" : "loggedin")" aria-label="Login" @onclick=ToggleLoginMenu>
                <UserIcon LoggedIn="!context.User.IsAnonymous()" />
            </button>
            <button class="kori-login__close @(ShowMenu ? "show" : "")" @onclick=ToggleMobileMenu aria-label="Close">
                <img src="_content/Kori/icons/Close.svg" />
            </button>

            <div class="kori-login__menu @(ShowMenu ? "show" : "")">
                @switch (Auth.LoginState)
                {
                    case LoginStates.LoggedOut:
                        <header>
                            <h3 class="kori-login__text-primary">Welcome!</h3>
                            <p class="kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                        </header>
                        <div class="kori-login__menu-actions">
                            <div class="kori-desktop">
                                <button class="kori-login__login-btn kori-login__btn kori-login__text-btn" @onclick=LoginWithPasskey>
                                    <img src="_content/Kori/icons/Key.svg" />
                                    <div class="kori-login__login-btn-wrapper">
                                        <figcaption class="kori-login__text-primary">Passkey Login</figcaption>
                                        <aside class="kori-login__text-secondary">Set up your passkey</aside>
                                    </div>
                                </button>
                                <div class="kori-login__menu-divider"></div>
                                <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                            </div>
                            <div class="kori-mobile">
                                <div class="tabs">
                                    <div class="@(ShowLoginTab ? "show" : "")" @onclick="ShowLoginMobile">Login</div>
                                    <div class="@(ShowLanguageTab ? "show" : "")" @onclick="ShowLanguageMobile">Language</div>
                                </div>
                                <div id="kori-login-menu-mobile" class="kori-login__tab @(ShowLoginTab ? "show" : "")">
                                    <button class="kori-login__login-btn kori-login__btn kori-login__text-btn" @onclick=LoginWithPasskey>
                                        <img src="_content/Kori/icons/Key.svg" />
                                        <div class="kori-login__login-btn-wrapper">
                                            <figcaption class="kori-login__text-primary">Passkey Login</figcaption>
                                            <aside class="kori-login__text-secondary">Set up your passkey</aside>
                                        </div>
                                    </button>
                                </div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                        </div>
                        break;
                    case LoginStates.ReadyForLogin:
                        <header>
                            <h3 class="kori-login__text-primary">Welcome!</h3>
                            <p class="kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                        </header>
                        <div class="kori-login__menu-actions">
                            <div class="kori-desktop">
                                <button class="kori-login__login-btn kori-login__btn kori-login__text-btn" @onclick=LoginWithPasskey>
                                    <img src="_content/Kori/icons/Key.svg" />
                                    <div class="kori-login__login-btn-wrapper">
                                        <figcaption class="kori-login__text-primary">Passkey Login</figcaption>
                                        <aside class="kori-login__text-secondary">Set up your passkey</aside>
                                    </div>
                                </button>
                                <div class="kori-login__menu-divider"></div>
                                <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                            </div>
                            <div class="kori-mobile">
                                <div class="tabs">
                                    <div class="@(ShowLoginTab ? "show" : "")" @onclick="ShowLoginMobile">Login</div>
                                    <div class="@(ShowLanguageTab ? "show" : "")" @onclick="ShowLanguageMobile">Language</div>
                                </div>
                                <div id="kori-login-menu-mobile" class="kori-login__tab @(ShowLoginTab ? "show" : "")">
                                    <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                        <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" />
                                        <button type="submit" class="kori-login__submit-btn">
                                            Login
                                        </button>
                                        <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                            <span class="kori-login__form-error-message">Email cannot be blank</span>
                                        </div>
                                    </form>
                                    <div class="kori-login__use-passkey">
                                        <button class="kori-login__passkey-btn kori-login__btn kori-login__text-btn" @onclick="LoginWithPasskey">
                                            <img src="_content/Kori/icons/Key.svg" /> Use passkey
                                        </button>
                                    </div>
                                </div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                        </div>
                        break;
                    case LoginStates.VerifyingToken:
                    case LoginStates.VerifyingEmail:
                        <div class="kori-login__menu-header-wrapper">
                            <div class="kori-login__menu-header kori-login__text-primary">Welcome!</div>
                            <p class="kori-login__menu-subheader kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="kori-login__menu-actions">
                            <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" disabled />
                                <button type="submit" id="submit-btn" class="kori-login__submit-btn" disabled>
                                    Login
                                </button>
                                <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                    <span class="kori-login__form-error-message">Email cannot be blank</span>
                                </div>
                            </form>
                            <div class="kori-login__message-wrapper">
                                <span class="kori-login__message kori-login__text-secondary">Signing you in...</span>
                            </div>
                            <div class="kori-login__menu-divider"></div>
                            @* <button class="kori-login__language-btn kori-login__btn" @onclick=ToggleLanguageSettings>
                                <div class="kori-login__language-btn-content kori-login__text-btn">
                                    <img src="_content/Kori/icons/Language.svg" /> @Language?.DisplayName.ToString()
                                </div>
                                <img class="kori-login__expand-icon @(ShowLanguageSettings ? "rotate": "")" src="_content/Kori/icons/Expand.svg" />
                            </button> *@
                            <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                        </div>
                        break;
                    case LoginStates.AwaitingMagicLink:
                        <div class="kori-login__menu-header-wrapper">
                            <div class="kori-login__menu-header kori-login__text-primary">Welcome!</div>
                            <p class="kori-login__menu-subheader kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="kori-login__menu-actions">
                            <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" disabled />
                                <button type="submit" id="submit-btn" class="kori-login__submit-btn" disabled>
                                    Login
                                </button>
                                <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                    <span class="kori-login__form-error-message">Email cannot be blank</span>
                                </div>
                            </form>
                            <div class="kori-login__message-wrapper">
                                <span class="kori-login__message awaiting-link kori-login__text-secondary">Click the link in your email!</span>
                                <div class="kori-login__different-email">
                                    <span class="kori-login__text-secondary"><img src="_content/Kori/icons/Help.svg" /> Didn't get an email?</span>
                                    <button class="kori-login__btn kori-login__text-btn" @onclick=ClearInput>Try a different email</button>
                                </div>
                            </div>
                            <div class="kori-login__use-passkey">
                                <button class="kori-login__passkey-btn kori-login__btn kori-login__text-btn" @onclick="LoginWithPasskey">
                                    <img src="_content/Kori/icons/Key.svg" /> Use passkey
                                </button>
                            </div>
                            <div class="kori-login__menu-divider"></div>
                            @* <button class="kori-login__language-btn kori-login__btn" @onclick=ToggleLanguageSettings>
                                <div class="kori-login__language-btn-content kori-login__text-btn">
                                    <img src="_content/Kori/icons/Language.svg" /> @Language?.DisplayName.ToString()
                                </div>
                                <img class="kori-login__expand-icon @(ShowLanguageSettings ? "rotate": "")" src="_content/Kori/icons/Expand.svg" />
                            </button> *@
                            <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                        </div>
                        break;
                    case LoginStates.LoggedIn:
                        <button class="kori-login__account-btn kori-login__btn" @onclick=ToggleAccountSettings>
                            <img src="_content/Kori/icons/User-green.svg" />
                            <div class="kori-login__login-btn-content">
                                <figcaption class="kori-login__text-primary">@Auth.User?.Username</figcaption>
                                <aside class="kori-login__text-secondary">Set up your passkey</aside>
                            </div>
                        </button>
                        <div class="kori-login__menu-actions">
                            <button class="kori-login__profile-btn kori-login__btn kori-login__text-btn">
                                <img src="_content/Kori/icons/user-profile-circle.svg" /> Profile
                            </button>
                            <button class="kori-login__setup-btn kori-login__btn kori-login__text-btn">
                                <img src="_content/Kori/icons/Shield.svg" /> Setup Backup Email
                            </button>
                            <button class="kori-login__logout-btn kori-login__btn kori-login__text-btn" @onclick=LogoutAsync>
                                <img src="_content/Kori/icons/Login.svg" /> Logout
                            </button>
                            <div class="kori-login__menu-divider"></div>
                            @* <button class="kori-login__language-btn kori-login__btn" @onclick=ToggleLanguageSettings>
                                <div class="kori-login__language-btn-content kori-login__text-btn">
                                    <img src="_content/Kori/icons/Language.svg" /> @Language?.DisplayName.ToString()
                                </div>
                                <img class="kori-login__expand-icon @(ShowLanguageSettings ? "rotate": "")" src="_content/Kori/icons/Expand.svg" />
                            </button> *@
                            <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                        </div>

                        break;
                    case LoginStates.Error:
                        <div class="kori-login__menu-header">
                            <div class="kori-login__menu-header kori-login__text-primary">Welcome!</div>
                            <p class="kori-login__menu-subheader kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="kori-login__menu-actions">
                            <button class="kori-login__login-btn" @onclick=LoginWithPasskey>
                                <img src="_content/Kori/icons/Key.svg" />
                                <div class="login-btn__content">
                                    <figcaption class="kori-login__text-primary">Passkey Login</figcaption>
                                    <aside class="kori-login__text-secondary">Set up your passkey</aside>
                                </div>
                            </button>
                            <div class="kori-login__message-wrapper">
                                <span class="kori-login__message kori-login__text-secondary">@Auth.Message</span>
                            </div>
                            <div class="kori-login__menu-divider"></div>
                            @* <button class="kori-login__language-btn kori-login__btn" @onclick=ToggleLanguageSettings>
                                <div class="kori-login__language-btn-content kori-login__text-btn">
                                    <img src="_content/Kori/icons/Language.svg" /> @Language?.DisplayName.ToString()
                                </div>
                                <img class="kori-login__expand-icon @(ShowLanguageSettings ? "rotate": "")" src="_content/Kori/icons/Expand.svg" />
                            </button> *@
                            <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                        </div>
                        break;
                }
            </div>
        </Authorized>
    </AuthorizeView>
</div>
<div class="kori-login__overlay @(ShowMenu ? "show" : "")" @onclick=ToggleLoginMenu></div>

@* <script>
    var input = document.getElementById('kori-login__input-email');
    input.addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            document.getElementById('submit-btn').click();
        }
    });
</script> *@

@inject IJSRuntime Js
@inject IBlossomAuthenticator Auth
@inject Kori Kori

@code {
    [CascadingParameter] public ClaimsPrincipal User { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? Token { get; set; }

    public string? Email;
    ElementReference? LoginInput;
    // string? SelectedLanguageId;
    Language? Language;

    bool ShowMenu = false;
    bool ShowLanguageSettings = false;
    bool ShowOverlay = false;
    bool UsePasskey = false;
    bool ShowFormError = false;
    bool ShowLoginTab = false;
    bool ShowLanguageTab = false;

    protected override async Task OnInitializedAsync()
    {
        var languages = await Kori.GetLanguagesAsync();
        Language = languages.First(x => x.Id == Kori.Language);

        await foreach (var state in Auth.LoginAsync(User, Token))
            StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("initHyperScript");
        // await Js.InvokeVoidAsync("screenSize");
    }

    async Task LoginWithPasskey()
    {
        UsePasskey = true;
        Console.WriteLine("logging in with passkey");
        await BeginLogin();
    }

    async Task LoginWithEmail()
    {
        UsePasskey = false;
        Console.WriteLine("logging in with email");
        if (Email == "")
        {
            ShowFormError = true;
        }
        else
        {
            ShowFormError = false;
            await BeginLogin();
        }
    }

    async Task BeginLogin()
    {
        // Attempt autofill signin
        // if (Email == null)
        // {
        //     Console.WriteLine("using passkey");
        //     await foreach (var state in Auth.LoginAsync(User))
        //         StateHasChanged();
        //     Auth.LoginState = LoginStates.ReadyForLogin;
        //         StateHasChanged();
        // }

        if (UsePasskey == true)
        {
            Email = "";
            await foreach (var state in Auth.LoginAsync(User))
                StateHasChanged();
            Auth.LoginState = LoginStates.ReadyForLogin;
            StateHasChanged();
        }

        if (Auth.LoginState == LoginStates.LoggedIn)
            return;

        await Task.Delay(1);
        if (LoginInput.HasValue && Email != null)
        {
            UsePasskey = false;
            Console.WriteLine("Email: " + Email);
            await LoginInput.Value.FocusAsync();
            await LoginAsync();
        }
    }

    async Task LoginAsync()
    {
        await foreach (var state in Auth.LoginAsync(User, Email))
        {
            Console.WriteLine($"Current state: {state}");
            StateHasChanged(); // Update the UI after each state change
        }
    }

    async Task LogoutAsync()
    {
        await foreach (var state in Auth.LogoutAsync(User!))
            StateHasChanged();

        Auth.LoginState = LoginStates.LoggedOut;
        StateHasChanged();
    }

    void ToggleLoginMenu()
    {
        ShowMenu = !ShowMenu;
        ShowOverlay = !ShowOverlay;
        if (ShowLanguageSettings)
        {
            ShowLanguageSettings = false;
        }
    }

    void ToggleMobileMenu()
    {
        ShowMenu = !ShowMenu;
        ShowLoginTab = true;
        ShowLanguageTab = false;
    }

    void ToggleAccountSettings()
    {
        // logic to open and close account settings
    }

    void ClearInput()
    {
        // logic to clear input form for email
        Auth.LoginState = LoginStates.ReadyForLogin;
        StateHasChanged();
        LoginInput = null;
        Email = "";
    }

    void UpdateLanguage(Language language)
    {
        Language = language;     
        StateHasChanged();
        Console.WriteLine($"Language updated to: {Language.DisplayName}");
    }

    void ShowLoginMobile() {
        ShowLoginTab = true;
        ShowLanguageTab = false;
    }

    void ShowLanguageMobile() {
        ShowLanguageTab = true;
        ShowLoginTab = false;
    }
}