@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using System.Net.Http.Json
@using Microsoft.EntityFrameworkCore
@using Sparc.Blossom.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using System.Text.RegularExpressions

<style class="kori-ignore">
    @@import url(https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap);
    @@import url(https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap);
</style>

<div id="kori-login" class="kori-login kori-ignore" @onclick:stopPropagation="true">
    <AuthorizeView>
        <Authorized>
            <button class="kori-login__toggle toggle-desktop @(ShowMenu ? "" : "show") @(context.User.IsAnonymous() ? "loggedout" : "loggedin")" aria-label="Login" @onclick=ToggleLoginMenu>
                <UserIcon LoggedIn="!context.User.IsAnonymous()" />
            </button>
            <button class="kori-login__toggle toggle-mobile @(ShowMenu ? "" : "show") @(context.User.IsAnonymous() ? "loggedout" : "loggedin")" aria-label="Login" @onclick=ToggleMobileMenu>
                <UserIcon LoggedIn="!context.User.IsAnonymous()" />
            </button>
            <button class="kori-login__close @(ShowMenu ? "show" : "")" @onclick=ToggleMobileMenu aria-label="Close">
                <img src="_content/Kori/icons/Close.svg" />
            </button>

            <div class="kori-login__menu @(ShowMenu ? "show" : "")" @onclick:stopPropagation="true">
                @switch (Auth.LoginState)
                {
                    case LoginStates.LoggedOut:
                        <header>
                            <h3 class="kori-login__text-primary">Welcome!</h3>
                            <p class="kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                        </header>
                        <div class="kori-login__menu-actions">
                            <div class="kori-desktop">
                                <button class="kori-login__login-btn kori-login__btn kori-login__text-btn" @onclick=LoginWithPasskey>
                                    <img src="_content/Kori/icons/Key.svg" />
                                    <div class="kori-login__login-btn-wrapper">
                                        <figcaption class="kori-login__text-primary">Passkey Login</figcaption>
                                        <aside class="kori-login__text-secondary">Set up your passkey</aside>
                                    </div>
                                </button>
                                <div class="kori-login__menu-divider"></div>
                                <div class="kori-login__language">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                            <div class="kori-mobile">
                                <div id="kori-login__tabs" class="tabs">
                                    <div class="kori-login__tab @(ShowLoginTab ? "active" : "")" @onclick="ShowLoginMobile" @onclick:preventDefault="true">Login</div>
                                    <div class="kori-login__tab @(ShowLanguageTab ? "active" : "")" @onclick="ShowLanguageMobile" @onclick:preventDefault="true">Language</div>
                                </div>
                                <div class="kori-login__menu-mobile @(ShowLoginTab ? "show" : "")">
                                    <button class="kori-login__login-btn kori-login__btn kori-login__text-btn" @onclick=LoginWithPasskey>
                                        <img src="_content/Kori/icons/Key.svg" />
                                        <div class="kori-login__login-btn-wrapper">
                                            <figcaption class="kori-login__text-primary">Passkey Login</figcaption>
                                            <aside class="kori-login__text-secondary">Set up your passkey</aside>
                                        </div>
                                    </button>
                                </div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                        </div>
                        break;
                    case LoginStates.ReadyForLogin:
                        <header>
                            <h3 class="kori-login__text-primary">Welcome!</h3>
                            <p class="kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                        </header>
                        <div class="kori-login__menu-actions">
                            <div class="kori-desktop">
                                <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                    <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" />
                                    <button type="submit" class="kori-login__submit-btn">
                                        Login
                                    </button>
                                    <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                        <span class="kori-login__form-error-message">Email cannot be blank</span>
                                    </div>
                                </form>
                                <div class="kori-login__use-passkey">
                                    <button class="kori-login__passkey-btn kori-login__btn kori-login__text-btn" @onclick="LoginWithPasskey">
                                        <img src="_content/Kori/icons/Key.svg" /> Use passkey
                                    </button>
                                </div>
                                <div class="kori-login__menu-divider"></div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                            <div class="kori-mobile">
                                <div id="kori-login__tabs" class="tabs">
                                    <div class="kori-login__tab @(ShowLoginTab ? "active" : "")" @onclick="ShowLoginMobile" @onclick:preventDefault="true">Login</div>
                                    <div class="kori-login__tab @(ShowLanguageTab ? "active" : "")" @onclick="ShowLanguageMobile" @onclick:preventDefault="true">Language</div>
                                </div>
                                <div class="kori-login__menu-mobile @(ShowLoginTab ? "show" : "")">
                                    <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                        <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" />
                                        <button type="submit" class="kori-login__submit-btn">
                                            Login
                                        </button>
                                        <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                            <span class="kori-login__form-error-message">Email cannot be blank</span>
                                        </div>
                                    </form>
                                    <div class="kori-login__use-passkey">
                                        <button class="kori-login__passkey-btn kori-login__btn kori-login__text-btn" @onclick="LoginWithPasskey">
                                            <img src="_content/Kori/icons/Key.svg" /> Use passkey
                                        </button>
                                    </div>
                                </div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                        </div>
                        break;
                    case LoginStates.VerifyingToken:
                    case LoginStates.VerifyingEmail:
                        <div class="kori-login__menu-header-wrapper">
                            <header>
                                <h3 class="kori-login__text-primary">Welcome!</h3>
                                <p class="kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                            </header>
                        </div>
                        <div class="kori-login__menu-actions">
                            <div class="kori-desktop">
                                <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                    <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" disabled />
                                    <button type="submit" id="submit-btn" class="kori-login__submit-btn" disabled>
                                        Login
                                    </button>
                                    <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                        <span class="kori-login__form-error-message">Email cannot be blank</span>
                                    </div>
                                </form>
                                <div class="kori-login__message-wrapper">
                                    <span class="kori-login__message kori-login__text-secondary">Signing you in...</span>
                                </div>
                                <div class="kori-login__menu-divider"></div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                            <div class="kori-mobile">
                                <div id="kori-login__tabs" class="tabs">
                                    <div class="kori-login__tab @(ShowLoginTab ? "active" : "")" @onclick="ShowLoginMobile" @onclick:preventDefault="true">Login</div>
                                    <div class="kori-login__tab @(ShowLanguageTab ? "active" : "")" @onclick="ShowLanguageMobile" @onclick:preventDefault="true">Language</div>
                                </div>
                                <div class="kori-login__menu-mobile @(ShowLoginTab ? "show" : "")">
                                    <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                        <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" disabled />
                                        <button type="submit" id="submit-btn" class="kori-login__submit-btn" disabled>
                                            Login
                                        </button>
                                        <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                            <span class="kori-login__form-error-message">Email cannot be blank</span>
                                        </div>
                                    </form>
                                    <div class="kori-login__message-wrapper">
                                        <span class="kori-login__message kori-login__text-secondary">Signing you in...</span>
                                    </div>
                                </div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                        </div>
                        break;
                    case LoginStates.AwaitingMagicLink:
                        <div class="kori-login__menu-header-wrapper">
                            <header>
                                <h3 class="kori-login__text-primary">Welcome!</h3>
                                <p class="kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                            </header>
                        </div>
                        <div class="kori-login__menu-actions">
                            <div class="kori-desktop">
                                <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                    <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" disabled />
                                    @* <button type="submit" id="submit-btn" class="kori-login__submit-btn" disabled>
                                        Login
                                    </button> *@
                                    <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                        <span class="kori-login__form-error-message">Email cannot be blank</span>
                                    </div>
                                </form>
                                <div class="kori-login__message-wrapper">
                                    <span class="kori-login__message awaiting-link kori-login__text-secondary">Magic link sent!</span>
                                    <div class="kori-login__different-email">
                                        <button class="kori-login__text-secondary resend-link">Resend</button>
                                        <button class="kori-login__btn kori-login__text-btn different-email" @onclick=ClearInput><img src="_content/Kori/icons/Login.svg" /> Try a different email</button>
                                    </div>
                                </div>
                                <div class="kori-login__use-passkey">
                                    <button class="kori-login__passkey-btn kori-login__btn kori-login__text-btn" @onclick="LoginWithPasskey">
                                        <img src="_content/Kori/icons/Key.svg" /> Use passkey
                                    </button>
                                </div>
                                <div class="kori-login__menu-divider"></div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                            <div class="kori-mobile">
                                <div id="kori-login__tabs" class="tabs">
                                    <div class="kori-login__tab @(ShowLoginTab ? "active" : "")" @onclick="ShowLoginMobile" @onclick:preventDefault="true">Login</div>
                                    <div class="kori-login__tab @(ShowLanguageTab ? "active" : "")" @onclick="ShowLanguageMobile" @onclick:preventDefault="true">Language</div>
                                </div>
                                <div class="kori-login__menu-mobile @(ShowLoginTab ? "show" : "")">
                                    <form class="kori-login__form" @onsubmit=LoginWithEmail>
                                        <input id="kori-login__input-email" class="kori-login__input" @ref=LoginInput type="email" @bind="Email" name="username" placeholder="Enter your email" autocomplete="username webauthn" @onclick:stopPropagation="true" disabled />
                                        @* <button type="submit" id="submit-btn" class="kori-login__submit-btn" disabled>
                                            Login
                                        </button> *@
                                        <div class="kori-login__form-error @(ShowFormError ? "show" : "")">
                                            <span class="kori-login__form-error-message">Email cannot be blank</span>
                                        </div>
                                    </form>
                                    <div class="kori-login__message-wrapper">
                                        <span class="kori-login__message awaiting-link kori-login__text-secondary">Magic link sent!</span>
                                        <div class="kori-login__different-email">
                                            <button class="kori-login__text-secondary resend-link">Resend</button>
                                            <button class="kori-login__btn kori-login__text-btn different-email" @onclick=ClearInput><img src="_content/Kori/icons/Login.svg" /> Try different email</button>
                                        </div>
                                    </div>
                                    <div class="kori-login__use-passkey">
                                        <button class="kori-login__passkey-btn kori-login__btn kori-login__text-btn" @onclick="LoginWithPasskey">
                                            <img src="_content/Kori/icons/Key.svg" /> Use passkey
                                        </button>
                                    </div>
                                </div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                        </div>
                        break;
                    case LoginStates.LoggedIn:
                        <button class="kori-login__account-btn kori-login__btn" @onclick=ToggleAccountSettings>
                            <img src="_content/Kori/icons/User-green.svg" />
                            <div class="kori-login__login-btn-content">
                                <figcaption class="kori-login__text-primary">@Auth.User?.Username</figcaption>
                                <aside class="kori-login__text-secondary">Set up your passkey</aside>
                            </div>
                        </button>
                        <div class="kori-login__menu-actions">
                            <div class="kori-desktop">
                                <button class="kori-login__profile-btn kori-login__btn kori-login__text-btn">
                                    <img src="_content/Kori/icons/user-profile-circle.svg" /> Profile
                                </button>
                                <button class="kori-login__setup-btn kori-login__btn kori-login__text-btn">
                                    <img src="_content/Kori/icons/Shield.svg" /> Setup Backup Email
                                </button>
                                <button class="kori-login__logout-btn kori-login__btn kori-login__text-btn" @onclick=LogoutAsync>
                                    <img src="_content/Kori/icons/Login.svg" /> Logout
                                </button>
                                <div class="kori-login__menu-divider"></div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                            <div class="kori-mobile">
                                <div id="kori-login__tabs" class="tabs">
                                    <div class="kori-login__tab @(ShowLoginTab ? "active" : "")" @onclick="ShowLoginMobile" @onclick:preventDefault="true">Login</div>
                                    <div class="kori-login__tab @(ShowLanguageTab ? "active" : "")" @onclick="ShowLanguageMobile" @onclick:preventDefault="true">Language</div>
                                </div>
                                <button class="kori-login__profile-btn kori-login__btn kori-login__text-btn">
                                    <img src="_content/Kori/icons/user-profile-circle.svg" /> Profile
                                </button>
                                <button class="kori-login__setup-btn kori-login__btn kori-login__text-btn">
                                    <img src="_content/Kori/icons/Shield.svg" /> Setup Backup Email
                                </button>
                                <button class="kori-login__logout-btn kori-login__btn kori-login__text-btn" @onclick=LogoutAsync>
                                    <img src="_content/Kori/icons/Login.svg" /> Logout
                                </button>
                                <div class="kori-login__menu-divider"></div>
                                <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                    <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                                </div>
                            </div>
                        </div>

                        break;
                    case LoginStates.Error:
                        <div class="kori-login__menu-header">
                            <div class="kori-login__menu-header kori-login__text-primary">Welcome!</div>
                            <p class="kori-login__menu-subheader kori-login__text-secondary">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="kori-login__menu-actions">
                            <button class="kori-login__login-btn" @onclick=LoginWithPasskey>
                                <img src="_content/Kori/icons/Key.svg" />
                                <div class="login-btn__content">
                                    <figcaption class="kori-login__text-primary">Passkey Login</figcaption>
                                    <aside class="kori-login__text-secondary">Set up your passkey</aside>
                                </div>
                            </button>
                            <div class="kori-login__message-wrapper">
                                <span class="kori-login__message kori-login__text-secondary">@Auth.Message</span>
                            </div>
                            <div class="kori-login__menu-divider"></div>
                            <div class="kori-login__language @(ShowLanguageTab ? "show" : "")">
                                <LanguageSelector @key="Language?.Id" SelectedLanguage="Language" LanguageChanged="UpdateLanguage" />
                            </div>
                        </div>
                        break;
                }
            </div>
        </Authorized>
    </AuthorizeView>
</div>
<div class="kori-login__overlay @(ShowMenu ? "show" : "")" @onclick=ToggleLoginMenu></div>

@* <script>
    var input = document.getElementById('kori-login__input-email');
    input.addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            document.getElementById('submit-btn').click();
        }
    });
</script> *@

<script>
    // var tabsParent = document.getElementById("kori-login__tabs");
    // var tabs = document.querySelectorAll(".kori-login__tab");
    
    // function setTabs() {
    //     tabsParent = document.getElementById("kori-login__tabs");
    //     tabs = document.querySelectorAll(".kori-login__tab");
    //     // console.log(tabsParent);
    //     // console.log(tabs);
    //     if (tabs) 
    //     {
    //         if (tabs.length > 0) 
    //         {
    //             updateActiveIndicator(tabs[2]);

    //             tabs.forEach((tab) => {
    //                 tab.addEventListener("click", function() {
    //                     // Remove active class
    //                     tabs.forEach((t, i) => {
    //                         t.classList.remove("active");
    //                     });

    //                     // Add active class to clicked tab
    //                     tab.classList.add("active");
    //                     console.log(tab.classList);

    //                     updateActiveIndicator(tab);
    //                 })
    //             })
    //         }
    //     }
    // }

    // function updateActiveIndicator(activeElement) {
    //     console.log(tabsParent);
    //     if (tabsParent)
    //     {
    //         const tabsParentLeftDistance = tabsParent.getBoundingClientRect().left;
    //         console.log("tabsParentLeftDistance: " + tabsParentLeftDistance);
    //     }

    //     const { 
    //         width: elementSize,
    //         left: elementLeftDistance, 
    //     } = activeElement.getBoundingClientRect();

    //     const distanceFromParent = elementLeftDistance - tabsParentLeftDistance;
    //     console.log("distancefromParent: " + distanceFromParent);
    //     console.log("elementSize: " + elementSize);

    //     tabsParent.style.setProperty("--indicator-offset", distanceFromParent);
    //     tabsParent.style.setProperty("--indicator-width", elementSize);
    // }

    // if (tabs) {
    //     if (tabs.length > 0) {
    //         updateActiveIndicator(tabs[2]);
        
    //         tabs.forEach((tab) => {
    //             tab.addEventListener("click", function() {
    //                 // Remove active class
    //                 tabs.forEach((t, i) => {
    //                     t.classList.remove("active");
    //                 });

    //                 // Add active class to clicked tab
    //                 tab.classList.add("active");
    //                 console.log(tab.classList);

    //                 updateActiveIndicator(tab);
    //             })
    //         })
    //     }
    // }
</script>

@inject IJSRuntime Js
@inject IBlossomAuthenticator Auth
@inject Kori Kori

@code {
    [CascadingParameter] public ClaimsPrincipal User { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? Token { get; set; }

    public string? Email;
    ElementReference? LoginInput;
    // string? SelectedLanguageId;
    Language? Language;

    bool ShowMenu = false;
    bool ShowLanguageSettings = false;
    bool ShowOverlay = false;
    bool UsePasskey = false;
    bool ShowFormError = false;
    bool ShowLoginTab = true;
    bool ShowLanguageTab = false;

    protected override async Task OnInitializedAsync()
    {
        var languages = await Kori.GetLanguagesAsync();
        Language = languages.First(x => x.Id == Kori.Language);

        Auth.LoginState = LoginStates.LoggedOut;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("initHyperScript");
    }

    async Task LoginWithPasskey()
    {
        UsePasskey = true;
        Console.WriteLine("logging in with passkey");
        await BeginLogin();
    }

    async Task LoginWithEmail()
    {
        UsePasskey = false;
        Console.WriteLine("logging in with email");
        if (Email == "")
        {
            ShowFormError = true;
        }
        else
        {
            ShowFormError = false;
            await BeginLogin();
        }
    }

    async Task BeginLogin()
    {
        // Attempt autofill signin
        // if (Email == null)
        // {
        //     Console.WriteLine("using passkey");
        //     await foreach (var state in Auth.LoginAsync(User))
        //         StateHasChanged();
        //     Auth.LoginState = LoginStates.ReadyForLogin;
        //         StateHasChanged();
        // }

        if (UsePasskey == true)
        {
            Email = "";
            await foreach (var state in Auth.LoginAsync(User))
                StateHasChanged();
            Auth.LoginState = LoginStates.ReadyForLogin;
            StateHasChanged();
        }

        if (Auth.LoginState == LoginStates.LoggedIn)
            return;

        await Task.Delay(1);
        if (LoginInput.HasValue && Email != null)
        {
            UsePasskey = false;
            Console.WriteLine("Email: " + Email);
            await LoginInput.Value.FocusAsync();
            await LoginAsync();
        }
    }

    async Task LoginAsync()
    {
        await foreach (var state in Auth.LoginAsync(User, Email))
        {
            Console.WriteLine($"Current state: {state}");
            StateHasChanged(); // Update the UI after each state change
        }
    }

    async Task LogoutAsync()
    {
        await foreach (var state in Auth.LogoutAsync(User!))
            StateHasChanged();

        Auth.LoginState = LoginStates.LoggedOut;
        StateHasChanged();
    }

    void ToggleLoginMenu()
    {
        Console.WriteLine("ToggleLoginMenu");
        ShowMenu = !ShowMenu;
        ShowOverlay = !ShowOverlay;
        if (ShowLanguageSettings)
        {
            ShowLanguageSettings = false;
        }
    }

    void ToggleMobileMenu()
    {
        Console.WriteLine("ToggleMobileMenu");
        ShowMenu = !ShowMenu;
        ShowLoginTab = true;
        ShowLanguageTab = false;
    }

    void ToggleAccountSettings()
    {
        // logic to open and close account settings
    }

    void ClearInput()
    {
        // logic to clear input form for email
        Auth.LoginState = LoginStates.ReadyForLogin;
        StateHasChanged();
        LoginInput = null;
        Email = "";
    }

    void UpdateLanguage(Language language)
    {
        Language = language;     
        StateHasChanged();
        Console.WriteLine($"Language updated to: {Language.DisplayName}");
    }

    void ShowLoginMobile() {
        Console.WriteLine("ShowLoginMobile");
        ShowLoginTab = true;
        ShowLanguageTab = false;
    }

    void ShowLanguageMobile() {
        Console.WriteLine("ShowLanguageMobile");
        ShowLanguageTab = true;
        ShowLoginTab = false;
    }
}